.header{
background-color: rgb(244, 255, 244);
height: 10rem;
font-size: 1.4rem;

  display: flex;
 justify-content: space-between;
 align-items: center;

   &-logo{
    display: flex;
    margin-left:20rem;
    align-items: center;
    
    &__icon{
      fill: green;
      width: 4.5rem;
      height: 4.5rem;
      margin-right: .8rem;
    }
    &__txt{
      font-size: 3.5rem;
      color: #352a6f;
      font-weight: 500;
      
    }
   }

 &__search{
  display: flex;
 
  flex: 0 0 40%; 
  align-items: center;
  justify-content: center;
    
    &--button{
      border: none;
      background-color: rgb(244, 255, 244);

      &:focus{
        outline: none;
      }
    
      &:active{
        transform: translateY(-2px);
        background-color:rgb(220, 255, 220);
      }
    }

    &__input:focus + &__button {
      background-color: rgb(244, 255, 244);
   }

    &--icon{
      height: 1.8rem;
      width: 1.8rem;
      fill: rgb(11, 145, 11);
      position: relative;
      right: -1rem;
    }
    &--input{
      font-family: inherit;
      font-size: inherit;
      border-radius: 100px;
      color: #fe4d61;
      border: none;
      /*border: .8px solid rgb(11, 145, 11);*/
      padding: 1rem 3.2rem;
      width: 85%;
      transition: all .3s;
      margin-left:-2.25rem;
      background-color:rgb(220, 255, 220);

      &:focus{
        outline: none;
        width: 100%;
      }
   }
  }

 &__contact{
  display: flex;

  margin-right:20rem;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.6rem;
  }
}